SERVICE_USER=service-user

REMOTE_HOST_ALIAS=remote-host
REMOTE_HOSTNAME=example.com
REMOTE_USER=user-remote
REMOTE_PORT=22
SSH_KEY=/home/${SERVICE_USER}/.ssh/id_rsa

REMOTE_FORWARDS="
0.0.0.0:2224 localhost:22
0.0.0.0:13389 localhost:3389
"
